<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ummah Hub</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
  <div class="homepage-container">
    <!-- Centered Content -->
    <div class="content">
      <div class="image-container">
        <img src="/logo.png" alt="Ummah Hub Logo">
      </div>
      <div class="welcome-text">
        <h1>Welcome to Ummah Hub</h1>
        <p>Your one-stop platform for connecting with the community, accessing Islamic tools, and deepening your faith journey.</p>
      </div>
      <div class="button-container">
        <% if (typeof userId !== 'undefined') { %>
          <a href="/users/logout" class="btn">Logout</a>
        <% } else { %>
          <a href="/users/login" class="btn">Login</a>
          <a href="/users/register" class="btn">Register</a>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
