<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>

        <% if (typeof errorMessage !== 'undefined') { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>

        <form action="/users/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
