<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Menu</title>
</head>
<body>
    <div class="app-container">
        <h1>Welcome, <%= user %>!</h1>
        <div class="menu-options">
            <a href="/calendar">Calendar</a>
            <a href="/duaForum">Dua Forum</a>
            <a href="/hadith">Hadith</a>
            <a href="/qaForum">Q&A Forum</a>
            <a href="/prayerTimes">Prayer Times</a>
            <a href="/zakatCalc">Zakat Calculator</a>
            <a href="/users/logout">Logout</a>
        </div>
    </div>
</body>
</html>
